.nav {
width: 100%;
background-color: #343536;
display: flex;
justify-content: center;
padding: 10px 0;
}

.tab {
color: white;
padding: 10px 20px;
text-align: center;
font-size: 16px;
cursor: pointer;
transition: 0.2s;
}

.tab:hover {
background-color: grey;
}

.header {
display: flex;
align-items: center;
padding: 20px;
max-width: 1000px;
width: 100%;
margin-top: 20px;
border-radius: 8px;
}

.me img {
width: 150px;
height: 150px;
margin-right: 20px;
border-radius: 8px;
display: flex;
}

.big {
font-size: 24px;
color: black;
}

.big h1 {
margin-bottom: 10px;
}

.small {
font-size: 16px;
color: grey;
}
        

.services-box {
width: 200px;
margin: auto;
border: solid black 2px;
padding: 10px;
text-align: center;
border-radius: 8px;
font-size: 20px;
color: #9A170D;
}

.service-list {
margin: auto;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border: solid black 4px;
    border-radius: 8px;
    max-width: 700px;
    margin-top: 10px;
}

.pricing-box {
width: 200px;
margin: auto;
border: solid black 2px;
padding: 10px;
text-align: center;
border-radius: 8px;
font-size: 20px;
color: #9A170D;
}

.pricing-list {
margin: auto;
width: 60%;
display: flex;
flex-wrap: wrap;
border: solid black 4px;
border-radius: 8px;
max-width: 500px;
margin-top: 10px;
}

.join-box {
width: 200px;
margin: auto;
border: solid black 2px;
padding: 10px;
text-align: center;
border-radius: 8px;
font-size: 20px;
color: #9A170D;
}

.join-details {
margin: auto;
width: 60%;
border: solid black 4px;
border-radius: 8px;
max-width: 200px;
margin-top: 10px;
padding: 20px
}

.contact-box {
width: 200px;
margin: auto;
border: solid black 2px;
padding: 10px;
text-align: center;
border-radius: 8px;
font-size: 20px;
color: #9A170D;
}

.contact-details {
margin: auto;
width: 60%;
border: solid black 4px;
border-radius: 8px;
max-width: 500px;
margin-top: 10px;
padding: 20px;
}
    
    .work-text {
    width: 200px;
    margin: auto;
    border: solid black 2px;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    font-size: 20px;
    color: #9A170D;
}

.work-image img {
    max-width: 20%;
    border-radius: 8px;
    margin-top: 10px;
    border: solid 2px black;
    transition: 1s;
}

.work-image img:hover {
   max-width: 70%;
   box-shadow: 10px 10px 10px;
 }

.back {
  margin-top: 10px;
  border: #343536 solid 4px;
  max-width: 60px;
  text-align: center;
  border-radius: 15%;
  cursor: pointer;
  transition: 0.5s
}

.back:hover {
  background-color: grey;
  
}